* {
	box-sizing: border-box;
}

.clearfix::before {
	content: "";
	display: table;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.vertically-centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.container {
	margin: auto;
	max-width: 1170px;
	position: relative;
}

body {
	margin: 0;
}

/* HEADER */

header {
	background-color: #0099ee;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.logo-link {
	float: left;
	line-height: 0;
}

.logo-link img {
	width: 140px;
}

header nav {
	float: right;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav li {
	float: left;
}

header nav a {
	padding: 1rem;
	display: inline-block;
}

/* SECTION 1 */

.section1 {
	background-color: #0078bb;
	height: 640px;
	padding-bottom: 20px;
}

.section1 .container {
	height: 100%;
}

.section1 footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

/* SECTION 2 */

.section2 {
	background-color: #008cda;
}

.section2 .container > h1 {
	text-align: center;
}

.benefit {
	float: left;
	padding: 2em;
	text-align: center;
	width: 25%;
}

/* SECTION 3 */

.section3 {
	background-color: #006ba6;
	padding: 20px;
}

.section3 .container > h1 {
	text-align: center;
}

.offers-container {
	margin: auto;
	width: 70%;
	padding-bottom: 100px;
}

.offer {
	float: left;
	width: 48%;
}

.offer:nth-child(1) {
	margin-right: 4%;
}

.section3 footer {
	text-align: center;
}

/* Footer */

main + footer {
	background-color: #0081c8;
}

main + footer nav {
	float: left;
}

main + footer nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main + footer nav li {
	float: left;
}

main + footer nav a {
	display: inline-block;
	padding: 1em;
}

main + footer small {
	float: right;
	right: 0;
}
